/*Table Content
==========================
    # General
        - Fonts
    # Links
    # Headings
    # Lists
        - Social-List
        - Contact-List
    # Images
*/


/* General
======================= */
/* Fonts */
@font-face {
    font-family: 'OpenSans-Bold';
    src: url(../vendor/fonts/OpenSans-Bold.ttf);
}

body{
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}
img{
    object-fit: cover
}

.wrapper {
    position: relative;
    width: 100%;
    overflow: hidden;
}
.main {

}
.line-aft-bef{
    position: relative   
}
.line-aft-bef:after ,
.line-aft-bef:before{
    content: "";
    position: absolute;
    width: 109px;
    height: 1px;
    background: #e9e9e9;
    top: 50%;
}
.line-aft-bef:after{
    right: 68px;
}
.line-aft-bef:before{
    left: 68px;
}
.line-aft{
    position: relative;
    display: inline-block;
    padding-bottom: 14px;
    margin-bottom: 34px
}
.line-aft:after{
    content: "";
    position: absolute;
    width: 70%;
    height: 2px;
    background-color: #f0002f;
    left: 0;
    bottom: 0
}
/* Links
==========================*/
a{
    -webkit-transition: all 0.3s ease-in-out;
       -moz-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out;
}
a, a:hover, a:focus{
    text-decoration: none;
    cursor: pointer
}
/* meadi
==================== */
.media .media-left{
    height: 92px;
    float: left;
    margin-right: 30px;
}
.media .media-left .edit{
    display: inline-block
}
.media .media-left .edit i {
    color: #a7a7a7;
    cursor: pointer;
    margin: 0 3px;
    font-size: 14px
}
.media .media-left img {
    width: 100px;
    height: 92px;
}
.media .media-left .media-object {
    display: inline-block
}
.media .media-body {
    margin-right: 30px
}
.media .media-body .media-heading {
    font-size: 20px;
    color: #2d2b2d;
    margin-top: 20px
}
.media .media-body p {
    color: #71706c;
    font-size: 14px
}
.media .media-body p span {
    font-weight: 700;
    color: #110f0f
}
/* custom-btn
=========================== */
button.gallary-btn {
    border: 2px solid #e4e4e4;
    background-color: #FFF;
    border-radius: 35px;
    color: #333e48;
    padding: 10px 30px;
    -webkit-transition: all 0.3s ease-in-out;
       -moz-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out;
}
button.gallary-btn:hover {
    background-color: #ffae00;
    border: 2px solid #ffae00;
}
.custom-btn {
    border: none;
    box-shadow: none;
    background-color: #f0002f;
    border-radius: 35px;
    padding:  13px 27px;
    font-size: 20px;
    color: #FFF;
    font-weight: bold;
    -webkit-transition: all 0.3s ease-in-out;
       -moz-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out;
}
.custom-btn i {
    margin-right: 20px
}
.custom-btn.raduis {
    border-radius: 10px;
}
.custom-btn:hover{
    background-color: #ffae00;
}

/* table
============================= */
.table{
    border-top:2px solid #d0d0d0 ;
    border-bottom:1px solid #d0d0d0 ;
}
.table tbody tr td:first-child {
    font-weight: bold
}
/* Form
========================== */
.form-group{
    position: relative;
    margin-bottom: 25px;
}
.form-group label{
    margin-bottom: 12px;
    color: #333e48
}
.form-group input[type="search"]{
    background-color: #f7f7f7;
    border-color: transparent;
    position: relative
}
.form-group input[type="search"] + i {
    position: absolute;
    top: 17px;
    right: 20px;
    color: #b6b6b6;
}
.form-control{
    height: 50px;
    background-color: #fff;
    color: #575757;
    border: 1px solid #cccccc;
    border-radius: 25px;
    padding: 0 20px;  
    box-shadow: none;
}
textarea.form-control{
    resize: none;
    padding: 20px
}
.form-group .custom-btn{
    background-color: #c00a27;
    font-size: 15px;
}
.custom-btn.disable{
    background-color: #efecec;
    font-size: 15px;
    color: #333e48
}
.custom-btn.disable:hover{
    background-color: #c00a27;
    color: #FFF
}

.form-control:focus{
    box-shadow: none;
    border: 1px solid #ffae00;
}
.form-control::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: #a1a1a1;
}
.form-control:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #a1a1a1;
}
.form-control::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #a1a1a1;
}
.form-control:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #a1a1a1;
}
.form-control::-ms-input-placeholder { /* Microsoft Edge */
    color: #a1a1a1;
}

/* Headings 
========================== */
h1, h2, h3, h4, h5, h6 {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    display: block;
    margin: 0;
}
p{
    margin: 0;
}
/*Lists
==========================*/
ul {
    display: block;
    list-style: none;
    margin: 0;
    padding: 0;
}
/* gallary-list */
.gallary-list{
    
}
.gallary-list li {
    display: inline-block;
    padding: 10px;
    margin-right: 10px;
    cursor: pointer
}
.gallary-list li.active {
    font-weight: bold;
    text-decoration: underline;
}
/* small-nav */
.top-header ul.small-nav {
    display: inline-block !important;
}
.top-header ul.small-nav > li {
    display: inline;
    padding: 0px 40px 0 0;
    font-size: 15px;
    line-height: 34px;
    font-weight: bold;
    -webkit-transition: all 0.5s ease-out;
       -moz-transition: all 0.5s ease-out;
            transition: all 0.5s ease-out;
}
.top-header ul.small-nav > li:last-child {
    padding: 0
}
.top-header ul.small-nav > li > a {
    position: relative;
    color: #FFF
}
.top-header ul.small-nav > li > a:after {
    content: "";
    position: absolute;
    bottom: -8px;
    left: 25%;
    width: 50%;
    height: 2px;
    background-color: #ffae00;
    -webkit-transform: scale(0);
       -moz-transform: scale(0);
            transform: scale(0);
    -webkit-transition: all 0.3s ease-out;
       -moz-transition: all 0.3s ease-out;
            transition: all 0.3s ease-out;
}
.top-header ul.small-nav > li > a:hover:after {
    -webkit-transform: scale(1);
       -moz-transform: scale(1);
            transform: scale(1);
}
@media (max-width:991px){
    .top-header ul.small-nav > li:hover{
        background: #FFF;
    }
    .top-header ul.small-nav > li {
        display: block;
        border-radius: 5px;
        margin-bottom: 5px;
        padding: 5px 10px !important;
    }
    .top-header ul.small-nav > li > a {
        display: block
    }
    .top-header ul.small-nav > li > a:after {
        display: none
    }
    .top-header ul.small-nav > li:hover > a {
        color: #C00A27
    }
    .top-header .navbar-collapse {
        width: 100%;
        overflow: hidden;
    }
    .top-header .navbar-collapse.collapse {
        display: none!important
    }
    .top-header .navbar-collapse.collapse.in {
        overflow: hidden!important;
        display: block!important
    }    
    button.navbar-toggle {
        display: inline-block;
        background-color: #FFF;
        color: #C00A27;
    }

}
 /* navbar */
nav ul.navbar {
    
}
nav ul.navbar > li {
       display: inline-block
}
nav ul.navbar > li > a {
    padding-right: 50px;
    color: #FFF;
    display: inline-block;
    font-size: 16px;
    line-height: 34px;
    text-transform: capitalize;
    position: relative
}
nav ul.navbar.with-aft > li.active > a:after{
    content: "";
    position: absolute;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 15px solid #FFF;
    bottom: -25px;
    left: calc(50% - 15px);
}
nav ul.navbar > li:last-child > a {
    padding: 0
}
nav ul.navbar > li > a > img {
    display: inline-block;
    margin-right: 5px
}
@media (max-width:1199px) {
    nav ul.navbar > li > a {
        padding-right: 35px;
        font-size: 14px
    }
}
@media (max-width:991px) {
    .header nav ul.navbar.navbar-collapse {
        width: 100%;
        overflow: hidden;
    }
    .header nav ul.navbar.navbar-collapse.collapse {
        display: none!important
    }
    .header nav ul.navbar.navbar-collapse.collapse.in {
        overflow: hidden!important;
        display: block!important
    }
    nav ul.navbar > li{
        display: block;
        
    }
    nav ul.navbar > li:hover > a {
        background-color: #ffae00;
        color: #c00a27;
    }
    nav ul.navbar > li:last-child > a ,
    nav ul.navbar > li > a{
        display: block;
        padding: 10px;
        width: 100%;
        border-radius:10px;
    }
    nav ul.navbar > li > a > img {
        margin-right: 20px
    }
    nav ul.navbar > li > a:after {
        display: none
    }
}
@media (max-width:475px){
   
    nav ul.navbar > li > a {
        width: 80px !important;
        margin: 0 auto
    }
    nav ul.navbar > li > a > img {
        display: block
    }
    
}

/* Images
=========================== */
img{
    display: block;
    max-width: 100%;
    height: auto;
}
/* Section Setting
============================ */ 
.section-lg{
    padding: 60px 0;
}
.section-md{
    padding: 32px 0 0;
}

@media (max-width:991px){
    .section-sm-screen {
        margin-top: 25px
    }
}
@media (max-width:767px) {
    .section-xs-screen {
        margin-top: 25px
    }
}
/* Header
============================ */
.header {
    background-color: #c00a27
}
.top-header{
    border-bottom: 1px solid #cb334b;
}
.top-header .logo {
    
}
.top-header .logo img {
    display: inline-block;
}
.nav-contact {
    text-align: right
}
.nav-contact > span {
    color: #ffae00;
    font-size: 14px;
    line-height: 32px;
}
.nav-contact p {
    color: #FFF;
    font-size: 28px;
    line-height: 32px;
    font-weight: bolder
}
.dropdown {
    display: inline-block;
    color: #FFF;
}
.dropdown span {
    cursor: pointer
}
.dropdown .dropdown-menu{
    
}
.dropdown .dropdown-menu > li {
    
}
.dropdown .dropdown-menu > li > a:hover {
    background-color: #c00a27;
    color: #FFF
}
.dropdown .dropdown-menu > li > a {
    
}
a.order {
    position: relative;
    padding: 15px 24px;
    color: #FFF;
    font-size: 14px;
    line-height: 34px;
    border-radius: 35px;
    border: none;
    background-color: #8ca93e;
    float: right;
    cursor: pointer
}
a.order:hover {
    background-color: rgba(140,169,62,0.95)
}
a.order:after {
    content: "";
    position: absolute;
    background-image: url(../images/icon/bill-paper.png);
    width: 133px;
    height: 5px;
    left: calc(50% - 65px);
    bottom: 10px
}
a.order:before{
    content: "";
    position: absolute;
    width: 138px;
    height: 2px;
    background-color: #226f0b;
    left: calc(50% - 68px);
    bottom: 15px;
}
a.order i {
    margin-right: 5px;
    font-size: 20px
}
@media (max-width:767px){
    .nav-contact{
        float: left;
    }  
}
@media (max-width:490px){
    .nav-contact,
    a.order{
        float: none;
        text-align: center;
        width: 100%;
        margin-bottom: 15px;
    }
}
/* carousel
============================ */
.carousel {
    background-color: #c00a27;
    height: 500px
}
.carousel .carousel-indicators{
}
.carousel .carousel-indicators li {
    background-color: #FFF;
    margin-right: 18px
}
.carousel .carousel-indicators li.active {
    background-color: #f0002f;
    border: none;
    width: 35px;
}
.carousel .carousel-inner {
     color: #FFF;
     font-family: 'Yanone Kaffeesatz', sans-serif;
}

.carousel .carousel-inner .item {
    text-align: center;
    padding: 30px 0;
    transform: rotate(-8.8deg)
}
.carousel .carousel-inner .item p {
    text-transform: uppercase;
    font-size: 30px;
    position: relative
}
.carousel .carousel-inner .item p:after,
.carousel .carousel-inner .item p:before {
    content: "";
    position: absolute;
    width: 126px;
    height: 1px;
    background: #fff;
    top:50%
}
.carousel .carousel-inner .item p:after{
    left: calc(50% - 236px);
}
.carousel .carousel-inner .item p:before {
    right: calc(50% - 236px);
}
.carousel .carousel-inner .item h1 {
    font-size:  140px;
    position: relative
}
.carousel .carousel-inner .item h1:after {
    content: "new!";
    font-size: 25px;
    position: absolute;
    width: 66px;
    height: 66px;
    background-color: #ffae00;
    border-radius: 50%;
    text-align: center;
    line-height: 66px;
    top: -51px;
    left: calc(50% - 168px);
}
.carousel .carousel-inner .item h4 {
    font-size: 82px;
    font-weight: 300;
    position: relative
}
.carousel .carousel-inner .item h4:after {
    content: "";
    position: absolute;
    width: 300px;
    height: 5px;
    border-bottom: 2px dashed #FFF;
    bottom: 6px;
    left: calc(50% - 150px);
}
.carousel .carousel-inner .item ul {
    
}
.carousel .carousel-inner .item ul > li {
    display: inline-block;
    font-size: 24px;
    font-weight: 200;
    margin-right: 25px;
    position: relative
}
.carousel .carousel-inner .item ul > li:after {
    content: "-";
    position: absolute;
    top: 0px;
    right: -16px;
}
.carousel .carousel-inner .item ul > li:last-child:after {
    content: ""
}
.carousel .carousel-inner .item ul > li > a {
    color: #FFF   
}
/* page-head
========================== */
.page-head {
    border-bottom:1px solid #e9e9e9;
}
.page-head ul.btns {
    
}
.page-head ul.btns > li {
    display: inline-block;
    margin: 25px 0 25px 17px;
}
.page-head ul.btns > li > a {
    font-size: 13px;
    color: #525252;
    text-transform: uppercase;
    display: inline-block;
    margin: 5px 0
}
@media (max-width:680px){
    .page-head  ul.btns > li  {
        display: block;
        text-align: center
    } 
    .page-head .create a{
        width: 100%;
        text-align: center
    }
    .page-head  ul.btns > li > a {
        display: block
    }
}
.page-head ul.btns > li > a.custom-btn {
    background-color: transparent;
    border: 1px solid #d7d7d7;
    cursor: pointer;
}
.page-head ul.btns > li.active > a.custom-btn,
.page-head ul.btns > li > a.custom-btn:hover {
    border: 1px solid transparent;
    background-color: #f5f5f5;
    font-weight: bold
}
.page-head ul.btns > li > a > img {
     display: inline-block
}
.page-head .create {
    
}
.page-head .create a.custom-btn {
    background-color: #FFAE00;
    text-transform: uppercase;
    font-size: 13px;
    display: inline-block;
    margin: 25px 0;
}
/* Banner
============================ */
.banner {
    
}
.grilled-checken {
    
}
.grilled-checken .grilled-checken-img {
    position: relative;
    height: 442px
}
.grilled-checken .grilled-checken-img img {
    height: 100%;
    width: 100%
}
.div-postion {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.3);
    padding: 53px 38px;
    text-transform: uppercase;
    color: #FFF;
    -webkit-transition: all 0.3s ease-in-out;
       -moz-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out;
}
.div-postion:hover {
    background-color: rgba(0,0,0,0.5)   
}
.div-postion.txt-right {
    text-align: right
}
.div-postion.txt-center {
    text-align: center
}
.div-postion.txt-center h2 {
    margin-top: 50px
}
.div-postion h2 {
    font-size: 60px;
    font-weight: bold;
    text-shadow: 3px 3px 5px rgba(0,0,0,0.5);
    display: inline-block
}
.div-postion h2 span {
    color: #fdba3e;
    font-size: 30px;
    text-shadow: none;
    font-weight: 300;
    vertical-align: text-top
}
.div-postion h3 {
    font-size: 30px;
}
.div-postion button{
    margin-top: 25px
}
/* free-fries */
.style-2  {
    
}
.style-2  .div-postion {
    padding: 30px;

}
.style-2  .style-2-img {
    height: 210px;
    position: relative
}
.style-2  .style-2-img img {
    height: 100%;
    width: 100%
}
.style-3-img {
    margin-top: 25px
}
/* products-tabs 
============================ */
.products-tabs {
    counter-reset: section;   
}
ul.header-category{
    display: block;
    text-align: center;
    border-bottom: 1px solid #e9e9e9;
    
}
ul.header-category > li {
    display: inline-block;
    font-size: 26px;
    padding-right: 60px;
    margin-bottom: 16px
}
ul.header-category > li> a:after {
    content: "";
    position: absolute;
    bottom: -2px;
    left: 25%;
    width: 50%;
    height: 3px;
    background-color: #f0002f;
    -webkit-transform: scale(0);
       -moz-transform: scale(0);
            transform: scale(0);
    -webkit-transition: all 0.3s ease-out;
       -moz-transition: all 0.3s ease-out;
            transition: all 0.3s ease-out;
}
ul.header-category > li:hover > a:after,
ul.header-category > li.active > a:after {
    -webkit-transform: scale(1);
       -moz-transform: scale(1);
            transform: scale(1);
}
ul.header-category > li.active,
ul.header-category > li:hover {
    font-weight: bold; 
}
ul.header-category > li.active > a ,
ul.header-category > li:hover > a {
    color: #2d2b2d;
}
ul.header-category > li > a {
    color: #9b959b;
    padding-bottom: 15px;
    position: relative
}
.products {
    text-align: center;
    margin: 35px 0;
    border: 5px solid transparent;
    -webkit-transition: all 0.3s ease-out;
       -moz-transition: all 0.3s ease-out;
            transition: all 0.3s ease-out;
}
.products.active,
.products:hover {
     border: 5px solid #e9e9e9
}

.products-img {
    height: 320px;
    position: relative;
    overflow: hidden;
    -webkit-transition: all 0.3s ease-out;
       -moz-transition: all 0.3s ease-out;
            transition: all 0.3s ease-out;
}
.products-img figcaption {
    z-index: 3;
    background-color: transparent;
    border-width: 0;
}
.products-img:after,
.products-img:before,
.products-img figcaption:before ,
.products-img figcaption:after {
    content: "";
    position: absolute;
    width: 50%;
    height: 50%;
    background-color: rgba(0,0,0,0.5);
    -webkit-transition: all 0.3s ease-out;
       -moz-transition: all 0.3s ease-out;
            transition: all 0.3s ease-out;
}
.products-img:after{
    transform: translateY(100%);
    left: 0;
    bottom: 0;
}
.products-img:before{
    transform: translateY(-100%);
    right: 0;
    top: 0;
}
.products-img figcaption:before{
    transform: translateX(100%);
    right: 0;
    bottom: 0;
}
.products-img figcaption:after {
    transform: translateX(-100%);
    top: 0;
    left: 0;
}
.products-img:hover:after {
    transform: translateY(0);    
}
.products-img:hover:before {
    transform: translateY(0%);
}
.products-img:hover figcaption:before {
    transform: translateX(0%);
}
.products-img:hover figcaption:after {
    transform: translateX(0%);
}
.products-img img {
    height: 100%;
    width: 100%
}
.products .products-content {
    padding: 25px 40px
}
.products .products-content h3 {
    margin-bottom: 17px;
    color: #2d2b2d;
}
.products .products-content h3 img {
    display: inline-block;
    margin: 0 4px
}
.products .products-content p {
    font-size: 14px;
    color: #71706c;
    margin-bottom: 39px;
   
}
.products .products-content > span {
    color: #2d2b2d;
    position: relative
}
.pick-size {
    margin-top: 20px
}
.pick-size span {
    position: relative;
    color: #2b2929;
    font-size: 20px;
    display: inline-block;
    margin: 15px 0 15px 65px;
    cursor: pointer
}
.pick-size span figcaption {
     width: 45px;
    height: 45px;
    position: absolute;
    border: 1px solid #f9f1db;
    border-radius: 50%;   
    font-size: 13px;
    text-align: center;
    line-height: 45px;
    top: -50%;
    left: -49px;
    font-weight: bold;
    -webkit-transition: all 0.3s ease-out;
       -moz-transition: all 0.3s ease-out;
            transition: all 0.3s ease-out;
}
.pick-size span figcaption.active,
.pick-size span:hover figcaption {
    background-color: #ffcd00;
    border-color: transparent
}
.products .products-content button{
    margin-top: 50px;
    padding: 20px 65px;
    font-size: 15px;
    -webkit-transform: scale(0);
       -moz-transform: scale(0);
            transform: scale(0);
    -webkit-transition: all 0.3s ease-out;
       -moz-transition: all 0.3s ease-out;
            transition: all 0.3s ease-out;
    visibility: hidden
}
.products.active .products-content button,
.products .products-content button.active,
.products:hover .products-content button {
    visibility: visible;
    -webkit-transform: scale(1);
       -moz-transform: scale(1);
            transform: scale(1);
}
.products .products-content button i {
    font-size: 20px
}
/*  products-tabs-style-2
============================== */
.products-tabs-style-2 .products {
    overflow: hidden;
    border-radius: 25px
}
 .products-tabs-style-2 .products .products-img {
    float: left;
    width: 50%;
    height: 100%
}

 .products-tabs-style-2 .products .products-content {
    float: right;
    width: 50%;
}
@media (max-width:730px){
    .products-tabs-style-2 .products .products-content,
     .products-tabs-style-2 .products .products-img {
        float: none;
        width: 100%;
        height: 100%
    }
}
/*  products-tabs-style-3
============================== */
.products-tabs-style-3 .products {
    text-align: left;
    position: relative;
    border-bottom: 2px dashed #cececc;
    border-left: 2px dashed #cececc;
    border-bottom-left-radius: 25px
}
.products-tabs-style-3 .products:after {
    counter-increment: section;
    content:  counter(section);
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    border-radius: 50%;
    background-color: #eb272e;
    top: -15px;
    z-index: 1;
    left: -15px;
    position: absolute;
    color: #FFF;
    font-weight: bold
}
.products-tabs-style-3 .products:hover{
    border-right-color: transparent;
    border-top-color: transparent

}
 .products-tabs-style-3 .products .products-img {
    display: none
}
.products-tabs-style-3 .products .products-content p {
    margin-bottom: 0
}
.products-tabs-style-3 .products .products-content .prodcuts-footer {
    position: absolute;
    top: -45px;
    right: 40px
}
.products-tabs-style-3 .products .products-content .prodcuts-footer .pick-size {
    display: inline-block
}
.products-tabs-style-3 .products .products-content .line-aft-bef{
    display: none
}
.products-tabs-style-3 .products .products-content button.custom-btn {
    font-size: 0;
    padding: 15px;
    display: inline-block;
    background-color: #f5f5f5;
    color: #2b2b2b;
    visibility: visible;
    transform: scale(1);
    margin-left: 30px
}
.products-tabs-style-3 .products .products-content button.custom-btn:hover {
    background-color: #EB272E;
    color: #FFF;
}
.products-tabs-style-3 .products .products-content button.custom-btn i {
    margin: 0
}
@media (max-width:655px){
    .products-tabs-style-3 .products .products-content .prodcuts-footer{
        position: static
    }
}
/* deal-day
=========================== */
.deal-day {
    background: url(../images/base-bg.jpg) no-repeat center center/cover;
    text-align: center;
    color: #FFF;
    font-family: 'Yanone Kaffeesatz', sans-serif;
}
.deal-day h3 {
    
}
.deal-day h3.line-aft-bef:after{
    right: 380px;
}
.deal-day h3.line-aft-bef:before{
    left: 380px;
}
@media (max-width:620px){
    .deal-day h3.line-aft-bef:before,
    .deal-day h3.line-aft-bef:after{
        content: none
    }
    .deal-day h2{
        font-size: 50px !important;
    }
    .products .products-content button {
        padding: 20px 15px
    }
}
.deal-day h2{
    font-size: 75px;
    font-weight: bold
}
.deal-day span {
    font-size: 107px;
    font-weight: bold;
    position: relative
}
.deal-day span:after{
    content: "Each";
    position: absolute;
    color: #c2aa7e;
    font-size: 27px;
    font-weight: 300;
    text-transform: uppercase;
    top: 55px;
    right: 10px;
}
.deal-day span sup:first-child {
    font-weight: 100;
    font-size: 90px
}
.deal-day ul {
    display: inline-block;
    font-size: 20px;
    color: #c2aa7e;
    text-transform: uppercase;
    margin: 0 25px;
    text-align: justify
}
.deal-day ul > li {
    position: relative
}
.deal-day ul > li:before {
    content: "";
    position: absolute;
    top: 50%;
    left: -10px;
    background-color: #c2aa7e;
    height: 1px;
    width: 5px
}
.deal-day button {
    display: block;
    margin: 0 auto;
    padding: 11px 65px;
    font-weight: 500
}
/* Product Slider 
========================= */
.product-slider {
    background-color: #f4f2eb
}
/* features
 =================== */
.features {
    
}
.features .feat-img {
    margin: 42px auto ;
    display: inline-block
}
.features .feat-img img {
    
}
.features .feat-content {
    
}
.features .feat-content h2 {
    color: #2d2b2d;
}
.features .feat-content p {
    font-size: 14px;
    line-height: 24px;
    color: #71706c;
    margin-top: 13px
}
/* footer
============================= */
.footer {
    background-color: #2c2c2c;
    color: #969696;
    position: relative
}
.footer ul.socail-footer {
    margin-bottom: 52px
}
.footer ul.socail-footer > li {
    display: inline-block;
    width: 52px;
    height: 52px;
    border: 1px solid #969696;
    border-radius: 50%;
    margin-right: 27px;
    margin-bottom: 20px;
    -webkit-transition: all 0.3s ease-out;
       -moz-transition: all 0.3s ease-out;
            transition: all 0.3s ease-out;
}
.footer ul.socail-footer > li > a {
    color: #969696;
    display: inline-block;
    width: 100%;
    -webkit-transition: all 0.3s ease-out;
       -moz-transition: all 0.3s ease-out;
            transition: all 0.3s ease-out;
}
.footer ul.socail-footer > li > a > i {
    line-height: 52px
}
.footer ul.socail-footer > li:hover > a{
    color: #2c2c2c;
} 
.footer ul.socail-footer > li:hover{
    background-color: #969696
}
.footer .logo {
    width: 200px;
    margin: 0 auto
}
.footer ul.contact-info{
    color: #dddddd;
    font-size: 14px
}
.footer ul.contact-info > li {
    display: inline-block;
    margin-right: 53px;
    margin-top: 70px;
    position: relative
}
.footer ul.contact-info > li:after {
    content: "";
    position: absolute;
    height: 15px;
    width: 1px;
    background-color: #c00a27;
    top: 2px;
    right: -25px
}
.footer ul.contact-info > li:last-child:after {
    background: none
}
.footer > p {
    margin: 15px 0 60px
}
.footer > span {
    position: absolute;
    bottom: 0;
    left: calc(50% - 115px);
    width: 230px;
    height: 62px;
    background-color: #f0002f;
    color: #FFF;
    font-size: 15px;
    font-weight: bold;
    line-height: 62px;
    border-top-right-radius: 35px;
    border-top-left-radius: 35px;
    -webkit-transition: all 0.3s ease-out;
       -moz-transition: all 0.3s ease-out;
            transition: all 0.3s ease-out;
}
.footer > span:hover {
    background-color: #ffae00
}
.footer > span a {
    color: inherit;
    display: inline-block;
    width: 100%;
}
/* brand
===================== */
.brand {
    background-color: #F4F2EB
}
.brand .item {
    width: 320px;
    display: inline-block;
    margin: 0 20px ;

}

.brand .item img{
    width: 100%;
    filter: grayscale(50%);
}
.brand .item:hover img {
     filter: grayscale(0);
}
/* pagin 
======================== */
.pagin {
    border-top: 1px solid #e9e9e9
}
.pagin .pagination {

}
.pagin .pagination > li > a:hover,
.pagin .pagination > li.active > a {
    background-color: #f0f0f0;
    color: #2d2b2d;
    font-weight: bold
}
.pagin .pagination > li > a {
    border: 1px solid #d7d7d7;
    color: #817f81;
    font-size: 15px;
    margin-right: 28px;
    border-radius: 50%   ;
    width: 53px;
    height: 53px;
    line-height: 40px;
    margin-bottom: 20px;
}
.dir {
    line-height: 85px;
}
.dir a.custom-btn {
    background-color: transparent;
    border: 1px solid #d7d7d7;
    color: #817f81;
    font-size: 13px;
    font-weight: 100
}
.dir a.custom-btn:hover {
    border: 1px solid transparent;
    background-color: #f5f5f5;   
}
.dir a i.fa-long-arrow-right {
    margin-left: 20px
}
/* category-arrival
================================ */
.category-arrival {
    position: relative;
    overflow: hidden;
    background: url(../images/slider-bg.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: repeat;
    color: #FFF;
    text-transform: uppercase;
    padding: 0
}
.overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
    padding: 100px 0
}
.category-arrival .arrival-content {
    transform: rotate(-8deg)
}
.category-arrival .arrival-content h2 {
    color: #eb272e;
    font-size: 49px;
    font-weight: bold
}
.category-arrival .arrival-content h1 {
    font-size: 120px;
    font-weight: bold
}
.category-arrival .arrival-content h1 span {
    font-size: 40px;
    font-weight: 100;
    vertical-align: text-top;
    width: 65px;
    display: inline-block;
}
.category-arrival .arrival-content img {
    display: inline-block
}
@media (max-width:520px) {
    .category-arrival .arrival-content h2 {
        font-size: 35px;
    }
    .category-arrival .arrival-content h1{
        font-size: 70px;
    }
    .category-arrival .arrival-content h1 span{
        font-size: 25px;
    }
}
/* break-bg
============================= */
.break-bg {
    position: relative;
    overflow: hidden;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    color: #FFF;
    text-transform: uppercase;
}
.break-bg.vegetarian {
    background: url(../images/VEGETARIAN.jpg);
    background-size: cover;
}
.break-bg.about-us-2 {
    background: url(../images/about-bg-2.jpg);
    background-size: cover
}

.break-bg.about-us-1 {
    background: url(../images/about-bg.jpg);
    background-size: cover;
}
.break-bg.about-us-1 .overlay {
    padding: 250px 0
}
.break-bg.hot {
    background: url(../images/hot-bg.jpg);
    background-size: cover;
    background-repeat: repeat;
}
.break-bg .overlay{
    padding: 250px 0 0
}
.break-bg h2 {
    font-size: 130px;
    font-weight: bold;
    line-height: 68px;
}
@media (max-width:520px){
    .break-bg h2{
        font-size: 65px;
        line-height: 35px;
    }
}
/*breadcrumb
====================== */
.breadcrumb {
    background-color: transparent;
    font-size: 14px;
}
.breadcrumb > li > a {
    color: #333e48;
    padding: 15px;
    border-radius: 5px;
    display: inline-block;
    margin: 15px 0;
}
.breadcrumb > li.dropdown > a{
    background-color: #f5f5f5;
}
.breadcrumb > li + li::before {
    content: "\f105 ";
    padding: 0 37px;
    font-family: fontawesome;
}
/* pager 
======================== */
.pager{
    margin: 0;
    font-size: 14px
}
.pager  > li{
    position: relative
}
.pager  > li:first-child:after {
    position: absolute;
    content: "";
    height: 20px;
    width: 1px;
    background-color: #797979;
    top:0
}
.pager  > li >  a {
    border: none;
    color: #797979;
    display: inline-block;
    margin: 35px 5px
}
.pager  > li:hover >  a i,
.pager  > li:hover >  a {
    background-color: transparent;
    color: #110f0f
}
.pager  > li >  a i {
    margin: 0 15px ;
    color: #adadad
}
/* single-product
=========================== */
.single-product{
    
}
.single-product .single-pro-header{
    border-bottom: 1px solid #e9e9e9
}
.single-product .single-pro-header h2 {
    color: #2d2b2d;
    font-size: 28px;
    line-height: 34px;
    margin-bottom: 28px;
    margin-top: 15px
}
.single-product .single-pro-header h2 img {
    display: inline-block  
}
.single-product .single-pro-header p {
    color: #71706c;
    font-size: 16px;
    line-height: 24px;
    font-style: italic;
    margin-bottom: 33px
}
.single-product .single-pro-header .subscribe-socail {
    margin-bottom: 44px;
}
.single-product .single-pro-footer {
}
.single-product .single-pro-footer button.custom-btn {
    font-size: 16px;
    width: 100%;
    margin-top: 79px;
    padding: 20px 0;
}
.single-product .single-pro-footer h3 {
    font-size: 17px;
    line-height: 12px;
    color: #2b2929;
    font-weight: bold;
    margin-bottom: 30px;
    margin-top: 45px

}
.single-pro-footer .price {
    font-size: 24px;
    color: #2d2b2d;
    line-height: 10x;
    margin-left: 10px
}
.order-num {
    padding: 20px ;
    border: 1px solid #cccccc;
    border-radius: 35px;
    display: inline-block
}
.order-num i {
    font-weight: 100;
    font-size: 13px;
    cursor: pointer;
}
.order-num span {
    margin: 0 25px
}
/* Base for label styling */
[type="checkbox"]{
    position: absolute;
    left: -9999px;
}
[type="checkbox"] + label {
    position: relative;
    padding-left: 30px;
    cursor: pointer;
    color: #2b2929;
    font-size: 14px;
    margin-left: 15px;
}
[type="checkbox"] + label i {
    width: 45px;
    height: 45px;
    line-height: 45px;
    text-align: center;
    background-color: #c00a27;
    margin-right: 10px;
    display: inline-block;
    border-radius: 50%;
    color: #FFF;
    font-size: 18px;
    -webkit-transition: all 0.3s ease-in-out;
       -moz-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out;
}
[type="checkbox"] + label i:hover {
    background-color: #ffcd00
}
[type="checkbox"] + label span {
    color: #a0a0a0;
    font-weight: 100
}
/* checkbox aspect */
[type="checkbox"] + label:before {
    content: '';
    position: absolute;
    left: 0; top: 0;
    width: 1.25em; height: 1.25em;
    background-color: #ffcd00;
    border-radius: 5px;
    border: 1px solid #d2d2d2
}
[type="checkbox"]:not(:checked) + label:before {
    background-color: transparent;
}
[type="checkbox"]:checked + label:before{
    border: 1px solid #ffcd00
}
/* checked mark aspect */

[type="checkbox"] + label:after {
  content: '✔';
  position: absolute;
  top: .1em; left: .3em;
  font-size: 1.3em;
  line-height: 0.8;
  color: #2b2929;
  -webkit-transition: all 0.3s ease-out;
       -moz-transition: all 0.3s ease-out;
            transition: all 0.3s ease-out;
}
/* checked mark aspect changes */
[type="checkbox"]:not(:checked) + label:after {
    opacity: 0;
    transform: scale(0);
}
[type="checkbox"]:checked + label:after {
    opacity: 1;
    transform: scale(1);
}
/* disabled checkbox */
[type="checkbox"]:disabled + label:before {
    box-shadow: none;
    border-color: #bbb;
    background-color: #ddd;
}
[type="checkbox"]:disabled:checked + label:after {
  color: #999;
}
[type="checkbox"]:disabled + label {
  color: #aaa;
}
/* product-img
======================= */
.product-img {
    
}
.product-img .product-img-header .item {
    height: 510px
}
.product-img .product-img-header img {
    height: 100%;
    width: 100%
}
.product-img {
    
}
.product-img .product-img-footer {
    
}

.product-img .product-img-footer .item {
    width: 100px;
    height: 100px;
    display: inline-block;
    opacity: 0.5;
    margin-top: 40px;
    margin-right: 20px;
    position: relative;
    border-bottom: 2px solid transparent;
    cursor: pointer;
    -webkit-transition: all 0.3s ease-out;
       -moz-transition: all 0.3s ease-out;
            transition: all 0.3s ease-out;
}
.product-img .product-img-footer .item.active {
    border-bottom: 2px solid #ffcd00;
    opacity: 1
}
.product-img .product-img-footer .item img {
    height: 100%;
    width: 100%
}
/* info
============================= */
.info {
    
}
.info ul.info-tabs{
    
}
.info ul.info-tabs > li {
    display: inline-block;
}
.info ul.info-tabs > li.active > a{
    background-color: #f5f5f5;
    font-weight: bold;
    color: #2d2b2d
}
.info ul.info-tabs > li > a{
    font-size: 20px;
    color: #71706c;
    padding: 25px 60px;
    display: inline-block
}
.info .tab-content {
    background-color: #f5f5f5
}
@media (max-width:700px){
    .info ul.info-tabs > li{
        display: block;
        border-bottom: 1px solid #F5F5F5;
    }
    .info ul.info-tabs > li > a{
        display: block
    }

}
/* description */
.description {
    
}
.description .desc-header {
    padding-bottom: 100px;
    border-bottom: 2px dashed #c7c7c6
}
.description .desc-header p{
    
}
.description .desc-footer {
    padding: 40px;
    overflow: hidden;
}
.description .desc-footer h2 {
    font-size: 30px;
    color: #2d2b2d;
    padding-top: 20px
}

.description .desc-footer .media {
    margin-bottom: 32px;
}
.description .desc-footer .media .media-left {
    width: 100px;
    height: 80px;
    float: left
}
.description .desc-footer .media .media-left a img {
    
}
.description .desc-footer .media .media-body p {
    color: #666666;
}
/* Reviews */
.reviews {
    
}
.reviews .person-review{
    padding: 40px 0;
    border-bottom: 1px dashed #bcbcba
}
.reviews .person-review .person-rate{
    
}
.reviews .person-review .person-rate h3 {
    font-size: 18px;
    color: #4c4c4c
}
.reviews .person-review .person-rate address {
    font-size: 16px;
    color: #aeaeae
}
.reviews .person-review .says {
    color: #666666;
    font-size: 16px;
}
.star-rating {
    display: block;
}
.star-rating input[type="radio"] {
    display: none
}
.star-rating > i {
    color: #cbcbcb;
    font-size: 17px;
}
.star-rating > i.active{
    color: #fed700
}
.reviews form {
    margin-top: 85px
}
.reviews .head-form {
    font-size: 30px;
    color: #2d2b2d;
    margin-bottom: 40px
}
/* nutritions
======================== */
.nutritions{
    
}
.nutritions h3 {
    font-size: 30px;
    color: #2d2b2d;
    margin-bottom: 40px
}
/* steps-progress 
========================= */
.steps-progress {
    
}
.steps-progress ul.prog-step{
    counter-reset: step;
}
.steps-progress ul.prog-step > li {
    margin-right: 200px;
    display: inline-block;
    color: #333e48;
    font-size: 14px;
    position: relative
}
.steps-progress ul.prog-step > li.active{
    font-weight: bold
}
.steps-progress ul.prog-step > li:last-child{
    margin-right: 0
}
.steps-progress ul.prog-step > li:before {
    content: counter(step);
    counter-increment: step;
    width: 48px;
    height: 48px;
    border:1px solid #f9f1db;
    border-radius: 50%;
    line-height: 48px;
    margin: 0 auto 19px auto;
    display: block;
    color: #2b2929;
    background-color: #FFF;
    font-size: 16px;
}
.steps-progress ul.prog-step > li.active:before{
    background-color: #ffcd00;
    border: 1px solid #ffcd00;
    font-weight: bold
}
.steps-progress ul.prog-step > li:after {
    content: "";
    height: 5px;
    width: 260px;
    background-color: #ebeaef;
    position: absolute;
    top: 24px;
    right: 65%;
    z-index: -1;
}
.steps-progress ul.prog-step > li.active:after{
    background-color: #ffcd00;
}
.steps-progress ul.prog-step > li:first-child:after{
    content: none;
}
@media (max-width:1200px){
    .steps-progress ul.prog-step > li:last-child,
    .steps-progress ul.prog-step > li {
        margin: 20px auto;
        width: 100px;
        display: block
    }
    .steps-progress ul.prog-step > li:after {
        content: none
    }   
}
/* order-summary
=========================== */
.order-summary {
    margin-bottom: 50px
}
/* shopping
===================== */
.shopping{
    
}
.shopping .table{
    
}
.shopping .table thead{
    color: #747474;
}
.shopping .table tbody{
    
}
.shopping .table tbody tr td{
    padding: 30px 8px 50px;
    vertical-align: middle;
    font-size: 18px;
    color: #2d2b2d;
    max-width: 800px;
}
.shopping .table tbody tr td .quantity{
    border-radius: 35px;
    border:1px solid #dddddd;
    padding: 10px 20px;
    text-align: right
}
.shopping .table tbody tr td .quantity span {
    margin-right: 20px
}
.shopping .table tbody tr td .quantity i{
    font-size: 13px;
    display: inline-block;
    width: 25px;
    height: 25px;
    text-align: center;
    border-radius: 50%;
    line-height: 25px;
    background-color: #ededed;
    cursor: pointer;
    
}
.shopping .table tbody tr td .quantity i:hover {
    background-color: #e3e3e3
}
/* shop-order
======================= */
.shop-order{
    
}
.coupon-form .form-group a.custom-btn:hover,
.coupon-form .form-group .custom-btn:hover{
    background-color: #FFAE00
}
.coupon-form .form-group a.custom-btn {
    position: absolute;
    top: 0;
    right: 0;
    padding: 14px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    background-color: #333e48;
    font-size: 15px;
    color: #FFF
}
.shop-order input[type="checkbox"] + label:before{
    top: 15px
}
.shop-order input[type="checkbox"] + label:after{
    top: 0.8em;   
}
.shop-order .shop-order-done{
    text-align: right
}
.shop-order .shop-order-done p {
    margin-top: 50px;
}
.shop-order .shop-order-done a {
    display: inline-block;
    margin-top: 40px;
    margin-left: 8px;
    cursor: pointer;
    color: #FFF
}
.shop-order .shop-order-done select.form-control {
    display: inline-block;
    width: 55%;
    margin-left: 10px;
    margin-top: 30px;
    background-image:
                    linear-gradient(45deg, transparent 50%, #a4a4a4 50%),
                    linear-gradient(135deg, #a4a4a4 50%, transparent 50%);
  background-position:
    calc(100% - 30px) calc(1em + 6px), calc(100% - 25px) calc(1em + 6px), 100% 0;
  background-size:
    5px 5px,
    5px 5px,
    2.5em 2.5em;
  background-repeat: no-repeat;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
}
@media (max-width:510px){
    .shop-order .shop-order-done{
        text-align: left
    }
    .shop-order .shop-order-done .form-group span {
        display: block;
    }
    .shop-order .shop-order-done select.form-control {
        width: 100%
    }
    .shop-order input[type="checkbox"] + label{
        text-align: left
    }
    .shop-order input[type="checkbox"] + label,
    .shop-order .shop-order-done a {
        display: block;
        width: 100%;
/*        text-align: center*/
    }
}
/* gray-box 
============================== */
.gray-box{
    padding: 40px 25px;
    background-color: #f7f7f7
}
/* order-details
=========================== */
.order-details{
    
}
.order-details .order-head {
    border-bottom:1px solid #dddddd;  
    color: #3e3e3e;
   
}
.order-details .order-head h4 {
    display: inline-block;
    margin: 18px 0
}
.order-details .order-head span {
    float: right;
    width: 60%;
    text-align: right;
    margin-top: 5px
}
.order-details .order-content {
    padding: 15px 0
}
.order-details .order-content p{
    color: #71706c;
    font-size: 13px;
    line-height: 19px;
    margin-bottom: 10px
}
.order-details .order-content p.proutect span{
    color: #110f0f;
    float: right;
    width: 30%
}
.order-details .order-content p span{
    color: #110f0f;
    text-align: right
}
.order-details a.custom-btn {
    width: 100%;
    display: block;
    text-align: center;
    padding: 20px;
    cursor: pointer;
    font-size: 15px
}
/* complete
======================= */
.complete{
    
}
.complete img{
    display: inline-block;
    margin-bottom: 70px;
}
.complete p {
    color: #666666;
    font-size: 16px;
    line-height: 30px
}
.complete .form-group {
    margin-top: 60px
}
/* register
=========================== */
.signin{
    
}
.create-acc p ,
.signin p{
    color: #747474;
    margin-bottom: 40px
}
.signin a {
    color: #333e48;
    float: right
}
.or {
    position: relative;
    vertical-align: middle;
    height: 390px;
    display: table-cell;
}
.or:after{
    content: "";
    position: absolute;
    height: 100%;
    width: 1px;
    left: 50%;
    top: 0;
    background-color: #e9e9e9;
    z-index: -1
}

.or span {
    text-align: center;
    width: 50px;
    background-color: #FFF;
    color: #7a7a7a;
    height: 50px;
    line-height: 50px;
    border: 1px solid #e9e9e9;
    border-radius: 50%;
    display: inline-block
}
@media (max-width:974px){
    .or {
        height: 100%;
        width: 100;
        position: relative;
        display: block
    }
    .or span {
        text-align: center;
        display: block ;
        margin: 0 auto;
    }
    .or:after{
        height: 1px;
        width: 100%;
        left: 0;
        top: 50%;
    }
}
.create-acc .enjoy{
    
}
.create-acc .enjoy p {
    color: #4c4c4c;
    font-size: 18px
}
.create-acc .enjoy span {
    display: block;
    font-size: 14px;
    line-height: 30px;
    color: #333e48;
}
.create-acc .enjoy span:before {
    content: '✔';
    color: #5cb301;
    padding-right: 15px;    
}
/* gallary
========================== */
.gallary{
    
}
.gallary .head-gallary {
}
.gallary .head-gallary h3{
    font-size: 34px;
    color: #454345
}
/* thumbnail
======================== */
.thumbnail{
    padding: 0;
    border: 1px solid #e4e4e4;
    margin-bottom: 30px;
}
.thumbnail .thumbnail-img {
    width: 100%;
    overflow: hidden;
    position: relative
}
.thumbnail .thumbnail-img figcaption {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.5);
    width: 100%;
    height: 100%;
    -webkit-transition: all 0.5s ease-out;
       -moz-transition: all 0.5s ease-out;
            transition: all 0.5s ease-out;
}
.thumbnail .thumbnail-img img {
    width: 100%;
    height: 100%;
    display: block;
    -webkit-transition: all 0.5s ease-out;
       -moz-transition: all 0.5s ease-out;
            transition: all 0.5s ease-out;
}
.thumbnail:hover .thumbnail-img figcaption {
    background-color: rgba(0,0,0,0.2);
}
.thumbnail:hover .thumbnail-img img{
    transform: scale(1.2) rotate(3deg)
}
.thumbnail .caption{
    position: relative;
}
.thumbnail .caption h3{
    margin-top: 35px;
    color: #2d2b2d;
    font-size: 22px;
}
.thumbnail .caption span {
    font-size: 14px;
    color: #aeaeae;
    margin-bottom: 35px;
    display: inline-block
}
.thumbnail .caption p {
    color: #666666;
    margin-bottom: 45px
}

.thumbnail .caption button{
    position: absolute;
    left: calc(50% - 70px);
    bottom: -20px;
    transform: scale(0);
}
.thumbnail:hover .caption button{
    transform: scale(1)
}
/* load-more
====================== */
.load-more{
    
}
.load-more .container{
    position: relative;
}
.load-more button.gallary-btn{
    display: inline-block;
    text-align: center;
}

.load-more .container:after{
    content: "";
    width: 100%;
    height: 1px;
    background-color: #ededed;
    position: absolute;
    left: 0;
    top: 50%;
    z-index: -1
}
/* Blogs
======================== */
.blog {
    
}
.blog-post {
    margin-bottom: 100px
}
.blog-post.single {
    
}
.blog-post.single img {
    height: 266px;
    width: 100%
}
.blog-post.single h3 {
    font-size: 20px;
    line-height: 23px;
    margin-bottom: 23px;
    color: #2d2b2d;
    margin-top: 37px
}
.blog-head{
    border-bottom: 1px solid #ececec   ;
    padding-bottom: 20px
}
.blog-head video,
.blog-head audio{
    width: 100%
}
.blog-head .slider{
    background: none;
    height: 460px;
    position: relative
}
.blog-head .slider ul.slick-dots {
    position: absolute;
    left: 30px;
    bottom: 30px;   
}
.blog-head .slider ul.slick-dots > li {
    display: inline-block;
    height: 8px;
    background-color: #bcbcbc;
    width: 8px;
    margin-right: 15px;
    border-radius: 35px;
    cursor: pointer
}
.blog-head .slider ul.slick-dots > li > button {
    display: none
}
.blog-head .slider ul.slick-dots > li.slick-active {
    background-color: #fed700;
    width: 25px;
}
.blog-head .slider .item{
    height: 460px;
    transform: rotate(0)
}
.blog-head .slider .item img {
    width: 100%;
    height: 100%;
    object-fit: cover
}
.blog-head h2 {
    font-size: 25px;
    color: #2d2b2d;
    margin-top: 37px
}
.blog-head span {
    color: #aeaeae;
    margin-top: 20px ;
    display: inline-block
}
.blog-content {
    
}
.blog-content p{
    color: #666666;
    font-size: 16px;
    margin: 25px 0
}
.blog-content a,
.blog-content span{
    display: inline-block;
    margin-right: 15px
}
.blog-content span {
    color: #878787;
    font-size: 12px
}
/* quote */
.blog-post.quote {
    background-color: #333e48;
    padding: 97px 105px;
    color: #FFF
}
.blog-post.quote p {
    font-size: 20px;
    line-height: 30px;
    font-style: italic
}
.blog-post.quote span {
    margin-top: 45px;
    display: inline-block;
    font-size: 14px
}
.blog-post.quote span:before {
    content: "-";
    margin-right: 5px
}
@media (max-width:600px){
    .blog-post.quote{
        padding: 20px
    }
}
/* author */
.author{
    padding: 20px 15px;
    background-color: #f5f5f5;
    overflow: hidden
}
.author .author-img {
    float: left;
    width: 160px;
    height: 160px;
}
.author .author-img img {
    height: 100%;
    width: 100%
}
.author .author-info {
    float: right;
    width: calc(100% - 190px)
}
.author .author-info p:first-of-type {
    color: #333e48;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 40px
}
.author .author-info p {
    font-size: 16px;
    line-height: 28px;
    color: #666666;
}
@media (max-width:660px){
    .author .author-img,
    .author .author-info {
        float: none;
        text-align: center;
        width: 100%
    }
    .author .author-img {
        display: block;
        width: 190px;
        margin: 0 auto 30px
    }
}
/* welcome */
.welcome {
    border: 3px solid #e9e9e9
}
.welcome .welcome-content {
    padding: 90px 20px 30px;
    position: relative;
}
.welcome .welcome-content .circle  {
    position: absolute;
    top: -65px;
    left: calc(50% - 65px);
    display: inline-block;
    width: 130px;
    height: 130px;
    line-height: 100px;
    background-color: #c00a27;
    border-radius: 50%;
    padding: 15px;
}
.welcome .welcome-content .circle img {
    display: inline-block;
}
.welcome .welcome-content h3 {
    color: #1f1f1f;
    font-size: 26px;
    margin-bottom: 28px
}
.welcome .welcome-content p {
    color: #666666;
    line-height: 21px;
    margin-bottom: 45px;
}
.welcome .welcome-content ul.socail-welcome{
    
}
.welcome .welcome-content ul.socail-welcome > li {
    display: inline-block;
    margin-right: 25px;
    color: #3f3f3f;
    cursor: pointer;
    -webkit-transition: all 0.3s ease-out;
       -moz-transition: all 0.3s ease-out;
            transition: all 0.3s ease-out;
}
.welcome .welcome-content ul.socail-welcome > li > i {
    font-size: 20px
}
.welcome .welcome-content ul.socail-welcome > li:last-child{
    margin-right: 0
}
.welcome .welcome-content ul.socail-welcome > li:hover {
    color: #4a4a4a
}
/*  form */
.blog form {
    margin-top: 70px
}
/* side */
.side {
    margin-top: 65px
}
.side .side-head {
    padding-bottom:20px;
    color: #2d2b2d;
    font-size: 21px;
    border-bottom: 1px solid #eeeeee
}
.side .side-content {
    margin-top: 28px
}
.side .side-content ul.categories-list {
    font-size: 14px;
    line-height: 36px;
    margin-left: 10px
}
.side .side-content ul.categories-list > li {
    border-bottom: 1px solid #eeeeee
}
.side .side-content ul.categories-list > li:last-child{
    border: none
}
.side .side-content ul.categories-list > li:before {
    content: "\f105";
    margin-right: 5px;
    font-family: FontAwesome
}
.side .side-content ul.categories-list > li > a {
    color: #575560;
}
.side .side-content ul.categories-list > li.active > a {
    font-weight: bold;
}
/* post */
.post-side {
    margin-bottom: 51px
}
.post-img {
    height: 180px;
}
.post-img img {
    height: 100%;
    width: 100%
}
.post-content {
    margin-top: 13px;
}
.post-content span {
    margin-right: 20px;
    color: #aeaeae;
    font-size: 12px;
    display: inline-block;
    margin-bottom: 15px
}
.post-content p {
    color: #2d2b2d
}
/* tags */
.tags {
    
}
.tags a {
    display: inline-block;
    border:1px solid #e4e5e7;
    padding: 10px 15px;
    color: #565656;
    font-size: 14px;
    cursor: pointer;
    margin-right: 10px;
    margin-bottom: 10px;
    position: relative;
    -webkit-transition: all 0.3s ease-in-out;
       -moz-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out;
}
.tags a:hover{
    color: #FFF
}
.tags a:hover:after {
    transform: scale(1)
}
.tags a:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #333e48;
    z-index: -1;
    transform: scale(0);
    -webkit-transition: all 0.3s ease-in-out;
       -moz-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out;
}
/* deals */
.deals {
    padding: 15px 0;
    border-bottom: 1px solid #eeeeee;
    overflow: hidden
}
.deals .deals-img {
    width: 100px;
    height: 93px;
    float: left
}
.deals .deals-img img {
    height: 100%;
    width: 100%
}
.deals .deals-content {
    float: right;
    width: calc(100% - 115px);
}
.deals .deals-content p {
    font-weight: bold;
    color: #d10727;
    font-size: 14px;
    margin-bottom: 10px;
}
.deals .deals-content span {
    display: block;
    margin: 5px 0;
    color: #2d2b2d;
    font-size: 16px;
}
.deals .deals-content span:first-of-type {
    font-size: 11px;
    color: #989898;
    text-decoration: line-through
}
/* gallary-single 
=============== */
.single-product .blog-head{
    overflow: hidden;
    margin-bottom: 20px
}
.single-product .blog-head .slider {
    
}
.single-product .blog-head .item {
    height: 587px;
    position: relative
}
.single-product .blog-head .slider ul.slick-dots {
    bottom: 0;
    left: calc(50% - 66px);
}
.gallary-single {
    
}
.gallary-single .gallary-single-head{
    padding-bottom: 33px;
    border-bottom: 1px solid #e9e9e9
}
.gallary-single .gallary-single-head h2 {
    font-size: 25px;
    color: #2d2b2d;
    margin-bottom: 12px
}
.gallary-single .gallary-single-head .star-rating {
    display: inline-block;
}
.gallary-single .gallary-single-head span {
    margin-left: 20px;
    display: inline-block;
    font-size: 14px;
    color: #878787
}
.gallary-single .gallary-single-details{
    padding: 20px 0 33px;
    border-bottom: 1px solid #e9e9e9
}
.gallary-single .gallary-single-details span {
    display: block;
    color: #aeaeae;
    margin-top: 12px
}
.gallary-single .gallary-single-details span b {
    color: #2d2b2d
}
.gallary-single .gallary-single-details span i {
    margin-right: 11px
}
.gallary-single .gallary-single-content {
    padding: 33px 0 0
}
.gallary-single .gallary-single-content img {
    margin-bottom: 30px;
}
.gallary-single .gallary-single-content p {
    font-size: 16px;
    color: #666666;
    margin-bottom: 20px;
    line-height: 28px
}
.gallary-single .gallary-single-content p:first-of-type {
    font-weight: bold;
    color: #2d2b2d
}
/*  gallary-single-content
=============================*/
.gallary-single-content{
    
}
.gallary-single-content .gray-box {
    border-radius: 30px
}
.gallary-single-content .gray-box >  p {
    font-size: 23px;
    color: #484848;
    padding-bottom: 14px;
    border-bottom: 1px dashed #bdbdbb;
}
.gallary-single-content .gray-box .for-content {
    margin-top: 65px
}
.gallary-single-content .gray-box .for-content p {
    font-weight: bold;
    margin-bottom: 28px;
    color: #2b2929;
    font-size: 16px
}
.gallary-single-content .gray-box .for-content form p {
    margin-bottom: 10px
}
.gallary-single-content .gray-box .for-content label {
    color:#666666 ;
    font-weight: 100
}
/* text-image
============================ */
.text-image {
    padding-top: 40px
}
.text-image p {
    font-size: 16px;
    color: #666666;
    line-height: 28px;
    margin-bottom: 45px
}
.text-image > p:first-of-type {
    font-weight: bold;
    color: #2d2b2d;
}
.method{
    counter-reset: section;   
}
.method > p {
    margin-bottom: 40px;
    border-bottom: 1px dashed #c2c1c0;
    padding: 20px 0;
    font-size: 23px;
    color: #484848;
}
.method .method-content {
    padding-left: 95px;
    position: relative
}
@media (max-width:490px) {
    .method .method-content{
        padding: 0
    }
    .method .method-content:before {
        width: 28px !important;
        height: 28px !important;
        line-height: 28px !important;
        top: -38px !important
    }
}
.method .method-content img {
    height: 462px;
    margin-bottom: 60px;
}
.method .method-content:before {
    counter-increment: section;
    content:  counter(section);
    display: inline-block;
    position: absolute;
    left: 0;
    top: 0;
    width: 53px;
    height: 53px;
    line-height: 53px;
    text-align: center;
    border: 1px solid #dbdbdb;
    border-radius: 50%;
    color: #817f81;
    font-size: 16px;
    -webkit-transition: all 0.3s ease-in-out;
       -moz-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out;
}
.method .method-content:hover:before{
    background-color: #ffcd00;
    border-color: #ffcd00;
    font-weight: bold;
    color: #2d2b2d
}
/* alternative
======================== */
.alternative {
    
}
.alternative h3 {
    color: #2d2b2d;
    font-size: 25px;
    padding-bottom: 25px;
    border-bottom: 1px solid #eeeeee;
    text-align: center
}
.alternative .post-side {
    margin-top: 50px
}
/* faqs
========================= */
.faqs{
    
}
.terms .terms-head,
.faqs .faqs-head {
    padding-bottom: 30px
}
.terms .terms-head h2,
.faqs .faqs-head h2{
    font-size: 34px;
    color: #454345;
    line-height: 35px;
    margin-bottom: 14px;
}
.terms .terms-head p ,
.faqs .faqs-head p {
    color: #898989
}
.faqs .panel {
    box-shadow:none
}
.faqs .panel-default {
    border: none
}
.faqs .panel-default > .panel-heading {
    background-color: #FFF;
    border:none;
    border-top: 1px solid #eeeeee;
    color: #434343;
    padding: 20px 0;
    border-radius: 0;
    
}
.faqs .panel-title > a{
    display: block;
    font-size: 25px
}
.faqs .panel-group .panel-heading + .panel-collapse > .panel-body,
.panel-group .panel-heading + .panel-collapse > .list-group {
    border: none
}
.faqs .panel-body {
    padding: 15px 0;
    color: #666666;
    font-size: 16px;
    line-height: 28px
}
/* terms
==================== */
.terms{
    
}
.terms .terms-head {
    border-bottom: 1px solid #eeeeee
}
.terms-content {
    
}
.terms-content a {
    color: #c00a27
}
.terms-content .terms-content-title {
    color: #434343;
    font-size: 25px;
    margin: 80px 0 55px;
}
.terms-content .terms-content-body {
    counter-reset: section;   
    color: #666666;
    font-size: 16px;
    line-height: 28px;
    padding-left: 65px;
}
@media (max-width:450px){
    .terms-content .terms-content-body {
        padding-left: 45px
    }
}
.terms-content .terms-content-body p{
    position: relative
}
.terms-content .terms-content-body p:before {
    counter-increment: section;
    content:  counter(section)" .";
    position: absolute;
    top: 0;
    left: -40px;
}
/* contact
============================== */
.contact{
    
}
.contact .contact-head{
    margin-bottom: 105px
}
.contact .contact-head h3{
    font-size: 34px;
    color: #454345;
    margin-bottom: 22px
}
.contact .contact-head p{
    color: #898989;
}

.contact  p {
    color: #747474;
    line-height: 24px;
    margin-bottom: 50px
}
.contact form button {
    padding: 10px 50px
}
.contact  p span {
    color: #c00a27
}
.contact .time {
    overflow: hidden
}
.contact .time > p:first-child {
    font-size: 14px;
    color: #333e48;
    font-weight: bold;
    margin-bottom: 16px;
}
.contact .time p.day {
    float: left;
    width: 50%
}
.contact .time p.day-time {
    float: right;
    width: 50%;
    text-align: right
}
.contact .time p.day-time ,
.contact .time p.day{
    font-weight: 100;
    color: #747474;
    line-height: 30px
}
/* About-us
=============================== */
.about-us{
    
}
.about-us .about-head{
    
}
.about-us .about-head h3{
    font-size: 34px;
    color: #454345;
    margin-bottom: 22px
}
.about-us .about-head p{
    color: #898989;
    margin-bottom: 65px
}
.content{
    
}
.content .content-img{
    height: 280px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden
}
.content .content-img img{
    height: 100%;
    width: 100%;
}
.content .content-img figcaption{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    -webkit-transition: all 0.3s ease-in-out;
       -moz-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out;
}
.content:hover .content-img figcaption {
    transform: translateY(-100%)
}
.content .content-body{
    margin-bottom: 30px
}
.content .content-body h4 {
    font-weight: bold;
    font-size: 18px;
    color: #2d2b2d;
    margin-bottom: 35px
}
.content .content-body p {
    color: #666666;
    line-height: 28px
}
/* basics
========================== */
.basics {
    
}
.basics h4 {
    color: #2d2b2d;
    margin-bottom: 50px;
}
.basics p {
    line-height: 28px;
    font-size: 16px;
    color: #666666;
    margin-bottom: 20px
}
@media (max-width:991px){
    .basics h4,
    .basics p{
        text-align: center
    }
}
/* deliver
=================== */
.deliver {
    
}
.deliver h3 {
    color: #454345;
    margin-bottom: 35px
}
.deliver ul.deliver-brand {
    
}
.deliver ul.deliver-brand  > li {
    display: inline-block;
    margin-right: 50px;
    position: relative;
    padding: 20px 0;
}
.deliver ul.deliver-brand  > li > a {
    filter: grayscale(100%)
}
.deliver ul.deliver-brand  > li:hover > a{
    filter: grayscale(0)
}
.deliver .deliver ul.deliver-brand  > li > a img {
    display: inline-block
}
/*******************************/
#map {
    height: 540px;
}
/* spinner 
========================= */
.loading-overlay {
    background:#222;
    color:#FFF;
    position:fixed;
    left:0;
    top:0;
    width:100%;
    height:100%;
    z-index:99999
}
.spinner {
  margin: 50vh auto ;
  width: 70px;
  text-align: center;
}

.spinner > div {
  width: 18px;
  height: 18px;
  background-color: #FFAE00;

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% { 
    -webkit-transform: scale(0);
    transform: scale(0);
  } 40% { 
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }
}

.allpages{
    position: fixed;
    top: 150px;
    left: 0;
    z-index: 999999;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    transition: all 0.3s ease-in-out
}
.allpages.active{
    -webkit-transform: translateX(0);
    transform: translateX(0);
}
.allpages .icons{
    width: 50px;
    height: 50px;
    line-height: 50px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    color: #c00a27;
    background-color: #fff;
    text-align: center;
    cursor: pointer;
    box-shadow:0px 5px 5px 3px rgba(31,51,73,.1);
    transition:all .3s cubic-bezier(.53,-.01,0,1.49); 
    font-size: 20px;
    position: absolute;
    top: 0px;
    left: 100%
}
.allpages.active .icons i{
    
}
.allpages .menu-pages{
    min-height: 100px;
    max-height: 450px;
    background-color: #fff;
    width: 250px;
    text-align: center;
    box-shadow: inset 0px 5px 5px 3px rgba(31,51,73,.1);
    padding: 20px;
    font-size: 16px;
    overflow-y: scroll
}
.allpages .menu-pages li{
    padding: 10px 0;
    text-transform: capitalize
}
.allpages .menu-pages li:last-child{
    padding-bottom: 0
}
.allpages .menu-pages li:first-child{
    padding-top: 0
}
.allpages .menu-pages li a{
    display: block
}
.allpages .menu-pages li:hover a{
    color: #FFAE00
} 
.allpages .icons i{
    
   -webkit-animation: scaleIconPage 1s ease-in-out infinite;
  animation: scaleIconPage 1s ease-in-out infinite; 
}

.allpages.active .icons i{
    
   -webkit-animation: scaleIconPage2 1s ease-in-out infinite;
  animation: scaleIconPage2 1s ease-in-out infinite; 
}

@-webkit-keyframes scaleIconPage {
  0% {
    -webkit-transform: scale(0.8) rotateY(180deg);
    transform: scale(0.8) rotateY(180deg);
  }
  100% {
    -webkit-transform: scale(1) rotateY(180deg);
    transform: scale(1) rotateY(180deg);
  }
}

@keyframes scaleIconPage {
  0%,100% {
    -webkit-transform: scale(0.8) rotateY(180deg);
    transform: scale(0.8) rotateY(180deg);
  }
  50% {
    -webkit-transform: scale(1) rotateY(180deg);
    transform: scale(1) rotateY(180deg);
  }
}
@-webkit-keyframes scaleIconPage2 {
  0% {
    -webkit-transform: scale(0.8) ;
    transform: scale(0.8);
  }
  100% {
    -webkit-transform: scale(1) ;
    transform: scale(1) ;
  }
}

@keyframes scaleIconPage2 {
  0%,100% {
    -webkit-transform: scale(0.8);
    transform: scale(0.8) ;
  }
  50% {
    -webkit-transform: scale(1) ;
    transform: scale(1) ;
  }
}
